body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.header-link {
    float: right;
    color: white;
    padding: 15px;
    background-color: #73e600;
}

.header-link:hover {
    color:white;
    text-decoration: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#top-navbar {
    background-color: #222;
    border-color: #080808;
    border-bottom: 3px solid #73e600;
    box-shadow: 0px 0px 10px 8px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

