.theater-line-number {
    display: inline-block;
    min-width: 25px;
    /*padding-right: 5px;*/
}

.theater-line {
    text-align: right;
}

/*This style is only for Dekstop, tablet and small devices NOT under 555px users*/
@media (min-width:552px) {

    #theater-screen {
        max-width: 500px;
    }

    .theater-line-seat {
        padding: 8px;
    }

    #line-and-seats-wrapper {
        max-width: 530px;
    }
}

@media (min-width: 456px) and (max-width:551px) {
    #theater-screen {
        max-width: 460px;
    }

    .theater-line-seat {
        padding: 6px;
    }

    #line-and-seats-wrapper {
        max-width: 430px;
    }
}

@media (min-width: 321px) and (max-width:455px) {
    #theater-screen {
        max-width: 460px;
    }

    .theater-line-seat {
        padding: 4px;
    }
        
    #line-and-seats-wrapper {
        max-width: 320px;
    }
}

@media (max-width: 320px) {
    #theater-screen {
        max-width: 460px;
    }

    .theater-line-seat {
        padding: 3px;
    }

    #line-and-seats-wrapper {
        max-width: 320px;
    }
}


#theater-screen {
    border-top: 4px dotted black;
    min-height: 20px;
    border-radius: 250%;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.theater-line-seat {
    display: inline-block;
    background-color: green;
    cursor: pointer;
}

.theater-line-wrapper {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

#line-and-seats-wrapper {
    margin: auto;
}


.theater-line-seats-wrappper {
    display: inline-block;
}


#theater-wrapper {
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    left:0;
    right: 0;
    margin: auto;
}
