@{
    ViewData["Title"] = "Kontakt";
}
<h2>Kontakt</h2>

<address>
    Tune Center 9A<br />
    Tune 4030<br />
    <abbr title="Phone">Tlf:</abbr>
    88 88 88 88
</address>
<address>
    <strong>Support:</strong> <a href="mailto:Support@disa.com">Support@disa.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@disa.com">Marketing@disa.com</a>
</address>

<div class="google-maps">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2254.3633932234857!2d12.175348216259703!3d55.59568898051165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652f5ffca0e2cd5%3A0xc024ad9ae8e17c5!2sTune+Center+9A%2C+4030+Tune!5e0!3m2!1sda!2sdk!4v1504725583585" allowfullscreen></iframe>
</div>