@{
    ViewData["Title"] = "Kontakt";
}
<h2>Kontakt</h2>

<address>
    Tune Center 9A<br />
    Tune 4030<br />
    <abbr title="Phone">Tlf:</abbr>
    88 88 88 88
</address>
<address>
    <strong>Support:</strong> <a href="mailto:Support@disa.com">Support@disa.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@disa.com">Marketing@disa.com</a>
</address>

<div class="google-maps">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Tune%20Center%209A&key=AIzaSyCgj6Gpd4WE1i0jKyawm4l1NCdJYQqUPTQ" allowfullscreen></iframe>
</div>