@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <!--Test form for testing post data-->
    <!--<form action="Home/Movie" method="post">
        <input type="text" name="formdata" />
        <input type="submit" name="submit" />
    </form>-->
</div>
