body {
    background-color: #404040;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
    color: #ffffff;
}

p {
    color: #d9d9d9;
}

.header-link {
    float: right;
    color: white;
    padding: 15px;
    background-color: #222;
}

.header-link:hover {
    color:white;
    text-decoration: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#top-navbar {
    background-color: #222;
    border-color: #080808;
    border-bottom: 3px solid #73e600;
    box-shadow: 0px 0px 10px 8px;
}

#welcome-text {
    margin-top: 60px;
}

.movie-wrapper {
    text-align: center;
    border: 1px solid black;
    display: inline-block
}

.reserver-button {
    background-color: #73e600;
}

.cover-image {
    border: 2px solid black
}



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

